body {
  margin: 0;
  font-family: Arial;
}

.container {
  margin: 0;
  width: 100%;
  border: 1px solid red;
  box-sizing: border-box;
}

.page-header {
  width: 100%;
  padding: 50px;
  background-color: #445161;
  color: #fff;
  box-sizing: border-box;
}
.page-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.page-header-wrp {
  width: 50%;
  border: 1px solid;
  float: left;
}

.page-header-title {
  display: block;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
}

.page-header-list {
  margin: 0;
  padding: 0 0 0 30px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

.page-header-list-item {
  list-style-type: none;
  position: relative;
}
.page-header-list-item:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Light_green_check.svg/768px-Light_green_check.svg.png");
  background-color: white;
  background-size: cover;
  position: absolute;
  top: 8px;
  left: -20px;
}

.page-header-photo {
  display: block;
  width: 500px;
  height: 200px;
  background-color: #fff;
  color: black;
  float: right;
}

.content {
  margin: 0;
  width: 100%;
  border: 1px solid red;
  box-sizing: border-box;
}
.about-product {
  width: 100%;
  background-color: white;
  padding: 50px;
  box-sizing: border-box;
}

.about-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.about-product-wrp {
  width: 60%;
  border: 1px solid;
  float: left;
}

.about-product-title {
  display: block;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
}

.about-product-text {
  margin: 2 0 0 2;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

.about-product-photo {
  display: block;
  width: 450px;
  height: 200px;
  background-color: black;
  color: white;
  float: right;
}
